
<div class="navbar-fixed" style="margin-bottom: 100px;" *ngIf='prodService.nav'>
  <nav  role="navigation" [class.z-depth-0]="!isHidden">
    <div class="nav-wrapper">

    <a materialize="sideNav" [materializeParams]="[{edge:'right', closeOnClick:true}]" href="#" data-activates="slide-out" class="button-collapse hide-on-large-only right"><i class="material-icons">menu</i></a>
    <div class="nav-wrapper blue">
     <!--  <a [routerLink]="['']" id="logo-container" class="brand-logo" style="margin-left: 10px;">Test App</a> -->
      <ul class="right hide-on-med-and-down">
         <li> <a [routerLink]="['/prods']" >CATALOG</a></li>
         <li > <a (click)="openNewProd()">ADD PPRODUCT</a></li>
         
         <li> <a  [routerLink]="['/bucket']" >BUCKET&nbsp;<span class="new badge red dropdown-button" data-badge-caption="products" materialize="dropdown" [materializeParams]="[getParams()]" data-activates='dropdown1' [materializeActions]="bucketService.dropActions" *ngIf="bucketService.amount">{{bucketService.amount}}</span></a>
           <ul id='dropdown1' class='dropdown-content' style="overflow: hidden;width: 200px;z-index: 10;position: relative;border-radius: 5px;">
            <ng-container *ngFor="let bucket of bucketService.buckets">
              <li ><a href="#!" style="padding: 0px;width: 200px;">
                  <div class="row" style="margin:0px;">
                    <div class="col s5" style="padding: 0px;height: 60px;">
                      <img [src]="'https://s3-ap-southeast-1.amazonaws.com/justforfunbucket2018/'+bucket.prod.image.split(',')[0]" style="width:50px; height: 100%;border-radius: 5px;"></div>
                      <div class="col s7" style="padding: 0px;height: 60px;">
                      <h6>{{bucket.prod.title}}</h6>Amount: {{bucket.number}}
                    </div>
                    </div>
              </a></li>
              <li class="divider"></li>
            </ng-container>
             
          </ul>
         </li>

        <li *ngIf="!authService.userSignedIn$"> <a (click)="presentAuthDialog()" >LOGIN</a></li>
        <li *ngIf="!authService.userSignedIn$"> <a (click)="presentAuthDialog('register')">REGISTER</a></li>

        <li *ngIf="authService.userSignedIn$"><a [routerLink]="['/profile']">PROFILE</a></li>
        <li *ngIf="authService.userSignedIn$"><a (click)="logOut()">LOGOUT</a></li>

      </ul>
    </div>
  </div>
  </nav>
   <div class="blue" *ngIf='!isHidden' [@enterAnimation] style="position: fixed;top:55px;height: 100px;width: 100%;z-index: -1">
    </div>
    <img src="./assets/images/s9 ilia.png" *ngIf='!isHidden' [@enterAnimation] style="z-index: 20;position: fixed;left:30px;height: 220px;" class="step" [class.show]='show'>
    <img src='./assets/images/ilia iphone.png' *ngIf='!isHidden' [@enterAnimation] style="z-index: 20;position: fixed;left:80px;top:-40px;height: 190px;" class="step hide-on-small-only" [class.show]='show2'>
    <img src="./assets/images/com name.png" *ngIf='!isHidden' [@enterAnimation] style="z-index: 20;position: fixed;left:110px;top:-20px;height: 200px;" class="step hide-on-small-only" [class.show]='show3'>
    <img src="./assets/images/com name.png" *ngIf='!isHidden' [@enterAnimation] style="z-index: 20;position: fixed;left:10px;top:-20px;height: 200px;" class="step hide-on-med-and-up" [class.show]='show3'>
</div>
<ul id="slide-out" class="side-nav" style="z-index: 1000;">
         <li routerLinkActive="active"> <a [routerLink]="['/prods']" >PRODUCTS</a></li>
         <li routerLinkActive="active"> <a [routerLink]="['/bucket']" >BUCKET&nbsp;<span class="new badge red" data-badge-caption="products" *ngIf="bucketService.amount">{{bucketService.amount}}</span></a></li>
        <li *ngIf="!authService.userSignedIn$"> <a (click)="presentAuthDialog()" >LOGIN</a></li>
        <li *ngIf="!authService.userSignedIn$"> <a (click)="presentAuthDialog('register')">REGISTER</a></li>

        <li *ngIf="authService.userSignedIn$" routerLinkActive="active"><a [routerLink]="['/profile']">PROFILE</a></li>
        <li *ngIf="authService.userSignedIn$"><a (click)="logOut()">LOGOUT</a></li>
        <ng-container *ngIf='prodService.cats.length > 0'>
          <li class="divider"></li>
          <li class="center"><h4>Categoryes</h4></li>
          <li *ngFor='let cat of prodService.cats'><a class="btn waves-effect waves-teal deep-orange darken-1 white-text" (click)="prodService.catShow(cat)">{{cat}}</a></li>
          <li><a class="btn waves-effect waves-teal deep-orange darken-1 white-text" (click)="prodService.catItems = null">ALL</a></li>
        </ng-container>
    </ul>

<!-- <div class="parallax-container"><div class="parallax" materialize="parallax"><img src="./assets/images/s9 ilia.png" style="height: 1000px;width: auto;"></div></div> -->
<app-auth-dialog #authDialog ></app-auth-dialog>
<app-prod-new #prodNew></app-prod-new>

