.badge
	border-radius: 20px

li.active 
    background-color: #ee6e73
     

#dropdown1
	width: 200px !important


.show
	opacity: 1 !important
	transform: translateY(0) !important

.step
	opacity: 0
	transform: translateY(-100%) 
	transition: .5s ease-in-out all

.shprod
	position: fixed
	top: 80px
	right: 10px
	width: 200px
	height: 60px
	z-index: 30
	background-color: white
	padding: 0px
	border-radius: 5px

.shprod2
	position: fixed
	top: 300px
	right: 10px
	// height: 60px
	z-index: 20001
	background-color: white
	font-size: 20px
	// border-radius: 5px

.shprod3
	width: 20px
	height: 20px
	background-color: white
	transform: rotate(45deg)
	position: fixed
	top: 305px
	right: 5px
	z-index: 20000
