

@keyframes jump
	0%
		transform: translateY(0px)
	25%
		transform: translateY(10px)
	50%
		transform: translateY(-20px)
	75%
		transform: translateY(10px)
	100%
		transform: translateY(0px)

.spinable
	animation: jump 0.5s
