<ng-container>
  <div id="overlay" class="black" *ngIf="!bla" [@enterAnimation]></div>
  <div class="preloader-wrapper active" *ngIf="!bla">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
<app-toolbar></app-toolbar>
<!-- <div class="parallax" id="parallax" #parallax style="margin-top: -100px;">
	<div class="parallax__group">
	  <div class="parallax__layer parallax__layer--back">
	    <img src="./assets/images/city2.jpg" class="back_pic">
	    <img src="./assets/images/city2.jpg">
	    <img src="./assets/images/city2.jpg">
	    <img src="./assets/images/city2.jpg">
	  </div>
	  <div class="parallax__layer parallax__layer--base"> -->
	   <router-outlet></router-outlet>
	 <!--  </div>
	</div>
	<div class="parallax__group">
	</div>
</div>
 -->
   


 
		