<form (ngSubmit)="onSignUpSubmit();subm = true;" #f="ngForm" >


  <div class="row">

    <div class="input-field col s12">
      <input id="email"
             type="email"
             required
             name='email'
             [(ngModel)]="signUpUser.email"
             class="validate"
             #email='ngModel'>
     <label for="email" >Email</label>
    </div>



    <div class="input-field col s12">
      <input id="password"
             type="password"
             required
             name='password'
             [(ngModel)]="signUpUser.password"
             class="validate"
             #password='ngModel'>
      <label for="password" >Password</label>
    </div>



    <div class="input-field col s12">
      <input id="password_confirmation"
             type="password"
             required
             name='password_confirmation'
             [(ngModel)]="signUpUser.passwordConfirmation"
             class="validate"
             #password_confirmation='ngModel'>
      <label for="password_confirmation" >Password confirmation</label>
    </div>

    <div class="col s12">

      <button type="submit"
              [disabled]="!(f.valid) || !(signUpUser.password == signUpUser.passwordConfirmation)"
              class="waves-effect waves-light btn blue right">
        Sign up
      </button>

    </div>

  </div>


</form>

<div *ngIf='!email.valid && !email.pristine' class="err-alert">Email is require!</div>
<div *ngIf='!password.valid && !password.pristine' class="err-alert">Password is require!</div>
<div *ngIf='signUpUser.password != signUpUser.passwordConfirmation && !password_confirmation.pristine && !subm' class="err-alert">Password has match!</div>