pre
	 white-space: pre-wrap
     white-space: -moz-pre-wrap
     white-space: -pre-wrap
     white-space: -o-pre-wrap
     word-wrap: break-word 

.modal
	border-radius: 10px
	overflow: hidden
	max-height: 1500px

b 
	white-space: pre-wrap
     white-space: -moz-pre-wrap
     white-space: -pre-wrap
     white-space: -o-pre-wrap
     word-wrap: break-word 

img 
     width: 50px
     height: auto

.img
     border-radius: 10px
     opacity: 0.8
     &:hover
          opacity: 1.0
     


@keyframes jump
     0%
          transform: translateY(0px)
     25%
          transform: translateY(10px)
     50%
          transform: translateY(-20px)
     75%
          transform: translateY(10px)
     100%
          transform: translateY(0px)

.spinable
     animation: jump 0.5s

.err-alert
     background-color: #f2dede
     color: #a94442
     opacity: 1
     border-color: #ebccd1
     padding: 15px
     border: 1px solid transparent
     border-radius: 4px

.prod-cont
     font-family: "Roboto", sans-serif;

.inl
     display: inline !important

.materialboxed
     display: inline !important

.sucess-alert
     background-color: #d4edda
     color: #155724
     opacity: 1
     border-color: #c3e6cb
     padding: 15px
     border: 1px solid transparent
     border-radius: 4px

