<div class="row">
  <div class="col m12 s12">
    <div class="card z-depth-4" style="margin-top: 50px;">
      <div class="card-content" style="min-height: 400px;">
        <div class="row ">
          <div class="col l4 s12 center" style="margin-bottom: 1em">
            <div>
              <div *ngFor="let image of images" class="hide-on-med-and-down">
                <img [src]="'https://s3-ap-southeast-1.amazonaws.com/justforfunbucket2018/'+image"
                [imageZoom]="'https://s3-ap-southeast-1.amazonaws.com/justforfunbucket2018/'+image" [zoomLevelIncrement]='.3'>
              </div>
              <div class="hide-on-large-only">
                <a (click)="goToPicture(prod)"><img [src]="'https://s3-ap-southeast-1.amazonaws.com/justforfunbucket2018/'+images[0]" class="col s12 m6 offset-m3"></a>
              </div>
            </div>
          </div>
          <div class="col l8 s12" style="overflow: auto;">
            <ul class="collection grey-text text-darken-2 ">
              <li class="collection-item blue-grey lighten-5">Title: <br> <b>{{prod.title}}</b></li>
              <li class="collection-item blue-grey lighten-5">Description:  <b><pre >{{prod.description}}</pre></b></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-action">
        <a  (click)='deleteProd(prod.id)'
                class="btn deep-orange darken-1 white-text waves-effect waves-light" style="margin: 10px;">DELETE
        </a>
        <a (click)='openModal()'
                class="btn deep-orange darken-1 white-text waves-effect waves-light" style="margin: 10px;">EDIT
        </a>
        <a (click)='addToBucket(prod.id)'
                class="btn deep-orange darken-1 white-text waves-effect waves-light" style="margin: 10px;"><i class="material-icons">local_grocery_store</i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col m12 s12">
    <div class="card z-depth-4">
      <div class="card-content">
        <div class="row ">
          <div class="col l12 s12" style="overflow: auto;" >
            <h2> Comment section</h2>
            <ul class="collection grey-text text-darken-2 ">
              <li class="collection-item blue-grey lighten-5" *ngFor="let comment of comments">
                At {{comment.created_at | date: 'dd/MM/yyyy hh:mm'}} <b>{{comment.user_email}}</b> said: <br><b>{{comment.text}}</b><a (click)='deleteComment(comment)' class="right" *ngIf='authService.currentUserData?.id == comment.user_id && authService.userSignedIn()'>delete</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="card-action" style="overflow: auto;" >
        <form (ngSubmit)="addComment(comment); commentForm.reset()" #commentForm='ngForm' class="col l12 s12">
          <div class="row">
            <div class="input-field col s8">
              <input  id="text" type="text"
                name="text" #text='ngModel' 
                [(ngModel)]='comment.text' required>
                <label for="text">Comment</label>
            </div>
            <button type="submit" class="btn deep-orange darken-1 white-text waves-effect waves-light" [disabled]="!commentForm.form.valid">Leave comment</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

 <div class="modal" materialize="modal" [materializeActions]="modalActions" ngDraggable>
    <div class="modal-content">
    <div class="row">
      <h3 class="grey-text text-darken-2 center">Change product</h3>
      <form (ngSubmit)="update(prod); prodForm.reset(); closeModal()" #prodForm='ngForm' class="col l12 s12">
        <div class="row">
          <div class="input-field col s6">
             <h5 class="grey-text text-darken-2">Title</h5>
            <input type="text" name="title"
            id="title" #title='ngModel' class="validate"
            [(ngModel)]='prod.title' required>
          </div>
  
        
          <div class="input-field col s6">
            <h5 class="grey-text text-darken-2">Description</h5>
            <textarea class="materialize-textarea validate" id="description"
              name="description" #description='ngModel' 
              [(ngModel)]='prod.description' rows="2" required>
            </textarea>
          </div>
        </div>
        <div class="row">
          <div class="file-field input-field col s6">
              <div class="btn">
                <span>File</span>
              <input type="file" (change)="getFile($event)" multiple>
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Image require">
            </div>
            <div class="progress" *ngIf="img_upload" id="puscontainer">
              <div class='determinate' id='pus' style='width: 0%'></div>
            </div>
          </div>
     
        <div *ngIf="prod.image" class="col s6">
          <a (click)="delImg(image)"  style="margin:5px;" *ngFor="let image of images"><img [src]="'https://s3-ap-southeast-1.amazonaws.com/justforfunbucket2018/'+image" class="hoverable img"></a>
        </div>
      </div>
        <div>
          <button type="submit" class="waves-effect waves-light btn" [disabled]="!prodForm.form.valid">Aply changes</button>
        </div>
      </form>
    </div>
  </div>
</div> 
