<div class="container z-depth-4" style="margin-top: 200px;background-color: white; opacity: 0.9;padding: 20px;border-radius: 5px;">
	<div class="row">
	  <div class="col s12">
	    <h1> Welcome</h1>
	    <p>
	      Hi, and welcome to the test application! 
	      Are you looking into expanding your bussiness horizon to reach success by having a website? If yes, Congratulations,you're half way there!
	      My name is Ilia, and I am here to help you with your web developing needs.This test application will demonstrate how I can help you making fast,responsive,effective website that will fit your bussiness needs. Whatever website you wish! Company profile,start up,online shop,blog,you name it and I will make it for you! Thank you for taking your time visiting this test application.
	      Now,let's get working and make you successful!
	    </p>
	  </div>
	</div>
</div>
<div class="hide-on-small-only">
  <div class="bla left " (mouseout)="mouseOvered=false" (mouseover)="mouseOvered=true">
    <div class="bla-inside valign-wrapper" [class.changed]="mouseOvered" [class.changed2]="mouseOvered3" (mouseout)="mouseOvered3=false;pchanged=false" (mouseover)="mouseOvered3=true;pchanged=true" ><p [class.pchanged]="mouseOvered && !pchanged">INTERESTING</p></div>
  </div>
  <div class="bla right" (mouseout)="mouseOvered2=false" (mouseover)="mouseOvered2=true">
    <div class="bla-inside valign-wrapper" [class.changed]="mouseOvered2" [class.changed2]="mouseOvered4" (mouseout)="mouseOvered4=false;pchanged2=false" (mouseover)="mouseOvered4=true;pchanged2=true"><p [class.pchanged]="mouseOvered2 && !pchanged2">RESPONSIVE</p></div>
  </div>
  <div class="divp">
    <p class="des" [class.desChanged]="mouseOvered">DES</p>
    <p class="des" [class.desChanged]="mouseOvered2">IGN</p>
  </div>
</div>
<div class="hide-on-med-and-up">
  <div class="bla2" (mouseout)="mouseOvered=false" (mouseover)="mouseOvered=true">
    <div class="bla-inside valign-wrapper" [class.changed]="mouseOvered" [class.changed2]="mouseOvered3" (mouseout)="mouseOvered3=false;pchanged=false" (mouseover)="mouseOvered3=true;pchanged=true" ><p [class.pchanged]="mouseOvered && !pchanged">INTERESTING</p></div>
  </div>
  <div class="bla2" (mouseout)="mouseOvered2=false" (mouseover)="mouseOvered2=true">
    <div class="bla-inside valign-wrapper" [class.changed]="mouseOvered2" [class.changed2]="mouseOvered4" (mouseout)="mouseOvered4=false;pchanged2=false" (mouseover)="mouseOvered4=true;pchanged2=true"><p [class.pchanged]="mouseOvered2 && !pchanged2">RESPONSIVE</p></div>
  </div>
  <div class="divp">
    <p class="des" [class.desChanged]="mouseOvered">DES</p>
    <p class="des" [class.desChanged]="mouseOvered2">IGN</p>
  </div>
</div>
<a [routerLink]="['/prods']">Bla</a>
<ul id="categories" class="clr">
  <!-- <li class="pusher"></li> -->
  <li>
      <div>
        <img src="https://farm3.staticflickr.com/2878/10944255073_973d2cd25c.jpg" alt=""/>
        <h1>This is a title a bit longer</h1>
        <p>Some sample text about the article this hexagon leads to</p>
    </div>
  </li>
    <li>
      <div>
        <img src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg" alt=""/>
        <h1>This is a title</h1>
        <p>Some sample text about the article this hexagon leads to</p>
    </div>
  </li>
  <li>
      <div>
        <img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt=""/>
        <h1>This is a title</h1>
        <p>Some sample text about the article this hexagon leads to</p>
    </div>
  </li>
  <!-- <li class="pusher"></li> -->
  <li>
      <div>
        <img src="https://farm3.staticflickr.com/2827/10384422264_d9c7299146.jpg" alt=""/>
        <h1>This is a title</h1>
        <p>Some sample text about the article this hexagon leads to</p>
    </div>
  </li>
  
  <li>
      <div>
        <img src="https://farm7.staticflickr.com/6217/6216951796_e50778255c.jpg" alt=""/>
        <h1>This is a title</h1>
        <p>Some sample text about the article this hexagon leads to</p>
    </div>
  </li>
  <li class="pusher"></li>
  <li>
      <div>
        <img src="https://farm7.staticflickr.com/6083/6055581292_d94c2d90e3.jpg" alt=""/>
        <h1>This is a title</h1>
        <p>Some sample text about the article this hexagon leads to</p>
    </div>
  </li>
  
  <li>
      <div>
        <img src="https://farm7.staticflickr.com/6092/6227418584_d5883b0948.jpg" alt=""/>
        <h1>This is a title</h1>
        <p>Some sample text about the article this hexagon leads to</p>
    </div>
  </li>
  <li>
      <div>
        <img src="https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg" alt=""/>
        <h1>This is a title</h1>
        <p>Some sample text about the article this hexagon leads to</p>
    </div>
  </li>
</ul>
<!-- <div class="hexagon z-depth-4 hoverable" *ngFor='let img of imgs' [ngStyle]="{'background-image': 'url(' + img + ')'}"></div> -->
<!-- <span style="color: #6C6; font-size: 135px;" class="z-depth-4 hoverable" *ngFor='let img of imgs' [ngStyle]="{'background-image': 'url(' + img + ')'}">&#x2B22;</span> -->


