<!-- <div class="container z-depth-4" style="margin-top: 200px;background-color: white; opacity: 0.9;padding: 20px;border-radius: 5px;">
	<div class="row">
	  <div class="col s12">
	    <h1> Welcome</h1>
	    <p>
	      Hi, and welcome to the test application! 
	      Are you looking into expanding your bussiness horizon to reach success by having a website? If yes, Congratulations,you're half way there!
	      My name is Ilia, and I am here to help you with your web developing needs.This test application will demonstrate how I can help you making fast,responsive,effective website that will fit your bussiness needs. Whatever website you wish! Company profile,start up,online shop,blog,you name it and I will make it for you! Thank you for taking your time visiting this test application.
	      Now,let's get working and make you successful!
	    </p>
	  </div>
	</div>
</div> -->
<div parallax id="parallax-try-id2" style="height: 200vh;width: 100%;z-index: 20;padding: 50px;background-image: url(/assets/images/1.jpg); position: relative;top:0;">
  

  <!-- <img parallax [config]="{parallaxInitVal: 50,parallaxRatio: .26}" src="/assets/images/3.png" style="width: 200px;height: auto;position: relative;left:
  40%;margin-top: 40%;"> -->
</div>
<div style="padding: 50px;height: 200vh; width: 100%;position: relative;top:-200vh;z-index: 21;background: rgba(0, 0, 0,0.6);">
  <p class="parallax-p q1" id="disapW">W</p>
  <p class="parallax-p" id="firstPTop">elcome</p>
  
  <div class="parallax-div1" style="height: 91%;">
    <p class="flow-text" >
      I am Ilia, and I make a website.</p>
      <p class="flow-text">You are a business owner and ready to take it to the next level.</p>
      <p class="flow-text" id="secondPTop">You realize that to grow a powerful business, you need a powerful tool.
    </p><br>
    <p class="flow-text firstP" >
      Now, let's talk about your website.</p>
      <p class="flow-text firstP">Your website is a powerful tool to grow your business.</p>
      <p class="flow-text firstP">Your website is unique, it's efficient, it's easy to use,</p>
      <p class="flow-text firstP">you love it, your customers love it.
    </p><br>
    <p class="flow-text secondP">
      And everyone wonder...</p>
      <p class="flow-text secondP" >What makes your website so great?
    </p>
  </div>
</div>


<div style="height: 330vh;" id="parallax-try-id4">
  <div parallax style="margin-top:-250vh; height: 200vh;width: 100%; padding: 100px 50px;background-image: url(/assets/images/2.jpg);position: sticky;position: -webkit-sticky;top: 0;z-index: 17;" >
    
  </div>
  <div style="margin-top:-250vh; height: 270vh;width: 100%; padding: 100px 50px;z-index: 18; position: sticky;position: -webkit-sticky;top: 0;background: rgba(0, 0, 0,0.8);">
    <p class="parallax-p q1" id="disapP">P</p>
    <p class="parallax-p">erfomance</p>
    <div class="parallax-div1" style="height: 97%;">
      <!-- <img src="/assets/images/5.png" style="right"> -->
      <p class="flow-text">
        <!-- For build awesome and fast web application I use Angular framework. This technology made by google, for the developers with love and care to create the fastest web sites! Server part of my web sites are made on node js with express framework which makes it multithreaded, unlike more famouse PHP or Ruby.  -->
        <b>MEAN.JS</b> is a web development solution based completely on fullstack JavaScript. The name is an acronym, standing for MongoDB, Express, Angular, and Node.js.
      </p>
      <p class="flow-text">
        <b>MongoDB</b> is an open source NoSQL database using a document-oriented data model. This means it relies on the architecture consisting of collections and documents instead of tables and rows (as in relational databases). Thanks to its architecture, this database is extremely scalable and can handle large volumes of data.
      </p>
      <p class="flow-text" >
        <b>Express</b> is a lightweight server-side JavaScript framework. As a part of the MEAN stack, it is used together with node.js to simplify the development process. It makes it easier to write secure, modular, and fast applications.
      </p>

      <p class="flow-text" >
        <b>Angular</b> has long become a “default” web frontend JavaScript framework. Built and maintained by Google, the framework allows for rapid development of dynamic, single page web apps. Its modular structure simplifies development and testing, and allows for easy scalability.
      </p>
      <p class="flow-text" >
        <b>Node.js</b> is a JavaScript-based runtime built on Chrome’s V8 engine. By compiling the JavaScript source code to native machine code before the execution, it allows for building scalable and performant web apps. Node.js has a rich ecosystem of open source libraries and components, including an npm (Node.js package manager).
      </p>
    </div>
  </div>
  <div class="overlay1" id="parallax-try-id" style="z-index: 18;"></div>
</div>



<div class="hide-on-small-only" style="height: 500vh;" id="designDiv">
  <div style="position: sticky;position: -webkit-sticky;top: 0;margin-top:-100vh;z-index: 15;background-image: url(/assets/images/9.jpg);height: 100vh;">
    <div class="bla left " (mouseout)="mouseOvered=false" (mouseover)="mouseOvered=true">
      <div class="bla-inside valign-wrapper" [class.changed]="mouseOvered" [class.changed2]="mouseOvered3" (mouseout)="mouseOvered3=false;pchanged=false" (mouseover)="mouseOvered3=true;pchanged=true" >
        <p *ngIf="!mouseOvered && !mouseOvered3" [class.pchanged]="mouseOvered && !pchanged">INTERESTING</p>
        <p *ngIf="mouseOvered && !mouseOvered3" style="color: black;">PERSONALIZED</p>
        <p *ngIf="mouseOvered3">CREATIVE</p>
      </div>
    </div>

    <div class="bla right" (mouseout)="mouseOvered2=false" (mouseover)="mouseOvered2=true">
      <div class="bla-inside valign-wrapper" [class.changed]="mouseOvered2" [class.changed2]="mouseOvered4" (mouseout)="mouseOvered4=false;pchanged2=false" (mouseover)="mouseOvered4=true;pchanged2=true">
        <p *ngIf="!mouseOvered2 && !mouseOvered4">RESPONSIVE</p>
        <p *ngIf="mouseOvered2 && !mouseOvered4" style="color: black;">INTERACTIVE</p>
        <p *ngIf="mouseOvered4">EFFECTIVE</p>
      </div>
    </div>
    <div class="divp">
      <p class="des" [class.desChanged]="mouseOvered">DES</p>
      <p class="des" [class.desChanged]="mouseOvered2">IGN</p>
    </div>
  </div>
  <div class="overlay2" id="parallax-try-id3"></div>
</div>


<div style="height: 500vh;" id="securityDiv">
  <div parallax style="margin-top:-150vh; height: 200vh;width: 100%; padding: 100px 50px;background-image: url(/assets/images/8.jpg);position: sticky;position: -webkit-sticky;top: 0;z-index: 12;" >  
  </div>
  <div style="margin-top:-150vh; height: 300vh;width: 100%; padding: 100px 50px;z-index: 13; position: sticky;position: -webkit-sticky;top: 0;background: rgba(0, 0, 0,0.8);" >
    <p class="parallax-p q1" id="disapS">S</p>
    <p class="parallax-p">EO</p>
    <div class="parallax-div1" style="height: 97%;">
      <!-- <img src="/assets/images/6.png" style="margin: auto;"> -->
      <p class="flow-text">As a business owner, you may be wondering “what is SEO, exactly?” Or “why do you need SEO services?” You may even be asking “how can SEO help my website?” </p>
      <p class="flow-text"><b>SEO</b> stands for “search engine optimization.” It is the process of getting traffic from the “free,” “organic,” “editorial” or “natural” search results on search engines.</p>
      <p class="flow-text">
        SEO will increase your sales without proportionately increasing your marketing costs, thereby growing profits exponentially and over time. SEO can further all your business goals at a better ROI than most other comparable forms of online marketing because of this fundamental effect of better conversions and more sales at little incremental cost.
      </p>
      <p class="flow-text">
        Assuming that everybody has heard about your brand or thinks that you’re the best place to buy can be a very costly mistake. People are constantly researching good deals, and are using the social-driven Web for comparison shopping. And price conscious shopping behavior is more common in tough financial times, when consumers spend their money more cautiously.
      </p>
      <p class="flow-text">
        SEO plays an important role in this research and buying cycle. It’s like a prospect magnet, attracting potential buyers to your website through critical and relevant keywords and phrases ranked high in search engines where searchers are already looking for information about them. It’s about being where your customers are, and directing them towards solutions you offer them.


      </p>
    </div>
  </div>
  <div class="overlay3" id="parallax-try-id5"></div>
</div>


<div style="height: 500vh;">
  <div style="height: 100vh;position: sticky;position: -webkit-sticky; top: 0;padding-top: 20px;margin-top:-100vh;background-image: url(assets/images/11.jpg);background-repeat: repeat;z-index: 10;" id="hexTopS">
    <div style="width: 85%;">
      <ul id="categories" class="clr">
        <!-- <li class="pusher"></li> -->
        <li >
            <div style="background-color: #fff3e0;">
              <!-- <img  src="assets/images/4.png" alt="" /> -->
              <h1 (click)="sendMeThere('https://destiblog.github.io')">destiblog.github.io</h1>
              <p>This simple blog of one wonderful young lady made by me.</p>
            </div>
        </li>
          <li >
            <div style="background: linear-gradient(to bottom, #f44336 40%,#f27500 40%,white 50%)">
              <!-- <img  src="assets/images/10.png" alt=""/> -->
              <h1 (click)="sendMeThere('https://www.ognetushiteli.me')">ognetushiteli.me</h1>
              <p>Example of the internet store.</p>
          </div>
        </li>
        <li >
            <div style="background: linear-gradient(to bottom, #2196f3,white 50%);">
              <!-- <img  src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt=""/> -->
              <h1 (click)="sendMeThere('https://iliakhablak.github.io/prods')">My test application</h1>
              <p>This is my sandbox and first steps.</p>
          </div>
        </li>
        <!-- <li class="pusher"></li> -->
        <li >
            <div style="background: linear-gradient(to bottom, #bdbdbd, white 20%, white 50%, #1a237e);">
              <!-- <img  src="https://farm3.staticflickr.com/2827/10384422264_d9c7299146.jpg" alt=""/> -->
              <h1 (click)="sendMeThere('https://kredito.id')">KREDITO</h1>
              <p>Was partly involved in this project.</p>
          </div>
        </li>
        
        <li >
            <div style="background: radial-gradient(circle at top right, #DD0767, #E63E3B 80%);">
              <!-- <img  src="https://farm7.staticflickr.com/6217/6216951796_e50778255c.jpg" alt=""/> -->
              <h1 (click)="sendMeThere('http://tri.co.id/')">TRI</h1>
              <p>Was partly involved in this project.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div id="hexoverl"></div>
</div>
<!-- <div class="hexagon z-depth-4 hoverable" *ngFor='let img of imgs' [ngStyle]="{'background-image': 'url(' + img + ')'}"></div> -->
<!-- <span style="color: #6C6; font-size: 135px;" class="z-depth-4 hoverable" *ngFor='let img of imgs' [ngStyle]="{'background-image': 'url(' + img + ')'}">&#x2B22;</span> -->

<a (click)="doSomething()" class="btn white black-text" style="font-family: 'Times New Roman', Times, serif;position: fixed;bottom: 30px;right: 30px;
z-index: 90;" id="contactMeButton">Contact me</a>
<div [class.contactMeHide]="!status" class="contactMe" >
  <div style="height: 30%;position: relative;top: 0;z-index: 80;"></div>
  <div style="height: 70%;background-color: rgba(0, 0, 0,0.9);position: relative;bottom: 0;z-index: 80;border-radius: 5px;">
    <p class="center flow-text" style="position: relative;top: 45%;color: white"><b>Whatsapp</b><br>+7 922 002 0036<br><a href="https://www.instagram.com/ilya_khablak/"><b>IG </b></a>|<a href="https://vk.com/id851236"><b> VK</b></a><br><b>Telegram</b><br>+7 922 002 0036</p>

    <!-- <p class="center flow-text" style="position: relative;top: 60%;color: white"><b>IG:</b> +62 818 07127570</p> -->
   <!--  <ul class="center" style="position: relative;top: 60%;">
      <li><a><img src="/assets/images/facebook.png"></a></li>
    </ul> -->
  </div>
  <div style="border-radius: 50%;width: 300px;height: 300px;background-image: url(/assets/images/me3.jpg);background-repeat: no-repeat;background-size: cover;transform: rotate(-90deg);background-position: center; position: relative;top: -80vh;z-index: 81;"></div>
  <!-- <img src="/assets/images/me3.jpg" style="transform: rotate(-90deg);border-radius: 50%;position: relative;top: -80vh;z-index: 81;" class="responsive-img"> -->
</div>