
 <div class="row" *ngIf="bucketService.buckets" style="margin-top: 90px;">
    <div class="col s12 m6 l3" *ngFor="let bucket of bucketService.buckets" style="margin-top: 30px;">
	    <div class="card hoverable"  style="background:rgba(300,300,300,0.8);">
	    	<div class="card-image" style="position: relative;">
	    		<div class="amount blue white-text center z-depth-1" style="font-size: 20px;font-weight:bold">{{bucket.number}}</div>
          		<img [src]="'https://s3-ap-southeast-1.amazonaws.com/justforfunbucket2018/'+bucket.prod.image.split(',')[0]" style="height: 240px;width: auto;margin-left: auto;margin-right: auto;">
          	</div>
	    	<div class="card-content " style="position: relative;">
	    		<span class="card-title truncate">{{bucket.prod.title}}</span>
	    	</div>
	    	 <div class="card-action" style="position: relative;background:rgba(300,300,300,0.8);">
	    	 	<div class="row">
	    	 		<div class="col s6 center">
		    			<a (click)="deleteFromBucket(bucket.prod.id)" [class.disabled]="bucket.number < 2" class="btn waves-effect waves-teal deep-orange darken-1 white-text"><i class="material-icons">remove</i></a>
		    		</div>
	    	 		<div class="col s6 center">
		    			<a class="btn waves-effect waves-teal deep-orange darken-1 white-text" (click)="goToShow(bucket.prod.id)"><i class="material-icons">search</i></a>
		    		</div>
		    	</div>
		    	<div class="row" >
		    		<div class="col s6 center">
		    			<a (click)="addToBucket(bucket.prod.id)" class="btn waves-effect waves-teal deep-orange darken-1 white-text"><i class="material-icons">add</i></a>
		    		</div>
		    		<div class="col s6 center">
		    			<a (click)="deleteFromBucket2(bucket.prod.id)" class="btn deep-orange darken-1 white-text waves-effect waves-teal"><i class="material-icons">delete</i></a>
		    		</div>
		    	</div>
	    	</div>
    	</div>
  	</div>
</div>